<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.loading.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RotateActivity"
            android:label="@string/title_activity_rotate" />
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book" />
        <activity
            android:name=".NewtonCradleActivity"
            android:label="@string/title_activity_newton_cradle"></activity>
    </application>

</manifest>
